<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="free.css">
    <title>free</title>
</head>
<body>
    <h1>자유게시판 작성하기</h1>
    <div class="writeBox">
        <form action="createf" method="post">
                <div class="title">제목</div>
                <textarea cols="40" rows="1" name="title"></textarea>
                <div class="content">내용</div>
                <textarea cols="40" rows="10" name="content"></textarea>
                <button>저장하기</button>
        </form>
    </div>
</body>
</html>